
</html>
<html>
    <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>Ola's blog</title>
    </head>
    <body>

  
<h1>Passa a dica!<h1>
<br />
<em>A escolha do futuro profissional é um dos maiores dilemas da vida de um jovem. Segundo uma pesquisa realizada pela Universidade Anhembi Morumbi com 18.477 alunos do 3º ano do ensino médio na cidade de São Paulo, 59% desses estudantes já escolheram a carreira que querem seguir. Entretanto, menos da metade (46%) afirmou ter tido algum contato com a profissão escolhida. Pensando nisso, criamos o Passa a Dica! Com o intuito de conectar estudantes do ensino básico e pré-vestibular á universitários a nível nacional que já passaram por esse processo de tomada de decisão.</em>



<div>
  <h1><a href="/">Passa a dica!</a></h1>
</div>

{% for post in posts %}
  <div>
      <p>published: {{ post.published_date }}</p>
      <h1><a href="">{{ post.title }}</a></h1>
      <p>{{ post.text|linebreaksbr }}</p>
  </div>
{% endfor %}
      </body>
  </html>
